.home-container {
  background: linear-gradient(to bottom, #f8f9fa 0%, #ffffff 100%);
}

.search-section {
  background: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-section {
  border-radius: 10px;
  background: linear-gradient(to bottom, #f8f9fa 0%, #ffffff 100%);
}

.features-section i {
  color: #004a63 !important; /* A light teal color */
}
